.tours {
  padding-top: 20px;
  padding-bottom: 90px;

  @include min-w($md) {
    padding-top: 30px;
  }

  &__filter {
    margin-bottom: 20px;
    @include min-w($lg) {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include min-w($lg) {
      margin: 0 -15px;
    }
  }

  &__item {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    @include min-w($lg) {
      margin: 0 15px 30px;
      width: calc(50% - 30px);
    }

    @include min-w($xxl) {
      margin: 0 15px 30px;
      width: calc(33.33% - 30px);
    }
  }

  &__btn {
    @include no-btn;
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $orange;
    padding: 10px 0 10px 30px;

    &::after {
      left: 0;
    }

    &.rotate-this::after {
      animation: rotate-this 2s infinite;
    }
  }
}
