.password {
  position: relative;
  &__input {
  }

  &__control {
    @include no-btn;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 100%;
    background: url(../images/sprite.svg#eye) 0 0 no-repeat;
    background-position: center;
    background-size: 24px 24px;

    &.view {
      background-color: url(../images/sprite.svg#eye-hidden) 0 0 no-repeat;
    }
  }
}
