.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(161 144 159 / 0%);
  backdrop-filter: blur(4px);
  transition: transform 0.3s, background-color 2.3s, backdrop-filter 2.3s;
  transform: scale(0);
  z-index: -1;

  &.active {
    transform: scale(1);
    z-index: 75;
  }

  &.black-active {
    background-color: rgb(161 144 159 / 0%);
    backdrop-filter: blur(4px);
    transform: scale(1);
    transition: transform 0.3s;
  }

  &--invisible {
    transition: background-color 0s, backdrop-filter 0s;
    backdrop-filter: unset;
    background-color: transparent;
  }
}

.close-btn {
  position: absolute;
  z-index: 5;
  @include no-btn;
  width: 56px;
  height: 56px;

  &::after,
  &::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: $orange;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: background-color 0.3s;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: $orange-hover;
  }
}

.popap {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 100%;
  max-width: 700px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 0.2s;
  transform: scale(0) translate(-50%, -50%);

  &.active {
    z-index: 80;
    transform: scale(1) translate(-50%, -50%);
  }
  &__hidden {
    overflow: hidden;
    border-radius: 20px;
  }

  &__inner {
    position: relative;
    z-index: 5;
    box-shadow: 0 0 13px 2px rgb(0 0 0 / 40%);
    background-color: $white;
    text-align: center;
    max-height: calc(100vh - 20px);
    overflow: auto;
    padding: 40px 15px;
    font-size: 20px;
    color: $black25;
    line-height: 1.2;

    @include min-w($md) {
      padding: 50px;
    }
  }

  &__close {
    right: 0;
    top: 0;
  }

  &__title {
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 10px;

    @include min-w($md) {
      font-size: 32px;
    }
  }

  p:last-child {
    margin: 0;
  }

  &__link {
    text-decoration: underline;
    color: inherit;
  }
}

.application-popap {
  max-width: 540px;

  &__title {
  }

  &__text {
  }
}

.call-back {
  max-width: 550px;

  &__title {
  }

  &__text {
    font-size: 17px;
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 20px;
  }

  &__input {
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__check-wrapper {
  }
}

.agreement-popap {
  max-width: unset;
  height: 100%;
  width: 100%;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 0.4s;
  }

  &.active {
    z-index: 199;
  }

  &.active &__overlay {
    z-index: 1;
    transform: scale(1);
  }

  .content {
    text-align: left;
  }
}

.map-popup {
  &.popap {
    max-width: 90vw;
    width: 90vw;
    height: 90vh;
  }

  &.active .popap__close {
    z-index: 100;
    top: -40px;
    right: -15px;
  }

  &.active .popap__close::after,
  &.active .popap__close::before {
    background-color: $white;
  }

  .popap__inner {
    padding: 0;
    overflow: unset;
  }

  .popap__inner > iframe {
    max-width: 90vw !important;
    height: 90vh !important;
  }
}
