.tour-card {
  position: relative;
  padding-top: 10px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: $white;

  &__img-link {
  }

  &__img {
    margin: 0 10px 15px;
    border-radius: 10px;
    width: calc(100% - 20px);
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    height: calc(100% - 222px);
    font-size: 15px;
    line-height: 1.5;
    color: $black25;
  }

  &__label {
    font-size: 15px;
    line-height: 1.4;
    color: $grey;
  }

  &__title {
    margin: 0 0 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
  }

  &__text {
    margin-bottom: 15px;
    @include line-clamp(5);

    @include min-w($lg) {
      font-size: 16px;
    }

    p {
      margin: 0;
    }
  }

  &__place-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__place {
    padding-left: 25px;
    font-size: 16px;
    &::after {
      left: 0;
    }
  }

  &__mt-auto {
    margin-top: auto;
  }

  &__season-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  &__season {
    display: inline-block;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 5px;
    width: fit-content;
    white-space: nowrap;
    background-color: $whitef5;
    transition: color 0.3s;
    margin-bottom: 5px;

    &:hover {
      color: $purple;
    }

    &.ico {
      padding-left: 35px;
    }

    &::after {
      left: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__type-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-top: 1px solid $whitef2;
  }

  &__price {
    font-size: 20px;
    font-weight: 700;

    @include min-w($lg) {
      font-size: 17px;
    }

    @include min-w($xl) {
      font-size: 20px;
    }
  }

  &__btn {
    padding-top: 5px;
    width: 74px;
    height: 39px;
    background-color: $orange;

    @include min-w($lg) {
      padding: 8px 30px;
      width: unset;
      height: unset;
      background-color: transparent;
    }

    svg {
      fill: $white;
      @include min-w($lg) {
        display: none;
      }
    }

    &:hover svg {
      fill: $orange;
    }
  }

  &__btn-text {
    display: none;
    @include min-w($lg) {
      display: inline;
    }
  }
}
