.socials {
    &__list {
        display: flex;
        gap: 1.6rem;
        padding-left: 0;
        list-style-type: none;
    }

    &__link {
        display: flex;
    }

    &__icon-wrap {
        position: relative;
        width: 3.2rem;
        height: 3.2rem;
        margin: auto;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 1;
        transition: opacity 0.3s;
    }

    &--filled &__icon--mono {
        display: none;
    }

    &:not([class*='socials--filled']) &__icon--mono-filled {
        display: none;
    }

    &__icon--colored {
        opacity: 0;
    }

    &__link:focus-visible &__icon--mono,
    &__link:hover &__icon--mono {
        @media (min-width: $desktops-sm) {
            opacity: 0;
        }
    }

    &__link:focus-visible &__icon--colored,
    &__link:hover &__icon--colored {
        @media (min-width: $desktops-sm) {
            opacity: 1;
        }
    }

    &--mobile-colored &__icon--mono {
        @media (max-width: $tablets-max) {
            opacity: 0;
        }
    }

    &--mobile-colored &__icon--colored {
        @media (max-width: $tablets-max) {
            opacity: 1;
        }
    }
}
