.reviews {
  &__swiper {
    margin: -30px -15px 0;
    padding: 30px 15px 0;
    box-sizing: border-box;
    margin-bottom: -20px;
  }

  &__list {
    margin-bottom: 50px;
    box-sizing: border-box;
  }

  &__item {
    border-radius: 15px;
    width: 270px;
    height: 450px;
    transition: transform 0.3s;
    position: relative;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);

    @include min-w($xl) {
      width: 372px;
      height: 620px;
    }

    &.swiper-slide-active {
      outline: 4px solid #aa429e;
      transform: scale(1.04);
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}





