.breadcrambs {
  padding-top: 20px;
  font-size: 14px;
  color: $grey;
  margin-bottom: 10px;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  @media (min-width: $lg) {
    overflow-x: unset;
    padding-bottom: 0;
  }

  &__list {
    width: fit-content;
    white-space: nowrap;

    @media (min-width: $lg) {
      white-space: unset;
    }
  }

  &__item {
      display: inline;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    margin-right: 10px;
    padding: 5px 0;
  }
}
