.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 49;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: $purple;

  transform: translateY(-150%);
  transition: transform 0.3s;

  &.active {
    transform: translateY(0);
  }

  @include min-w($xl) {
    display: none;
  }

  &__overlay {
    flex-grow: 1;
    width: calc(100% - 360px);
    background-color: $purple;
    @include max-w($sm) {
      display: none;
    }
  }

  &__inner {
    position: relative;
    z-index: 5;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    padding: 170px 25px 20px;
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 100vh;
    background-color: #fff;
    overflow-y: auto;
  }

  &__nav {
    width: 100%;
  }

  &__list {
    margin-bottom: 45px;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $whitef2;
  }

  &__hide-box {
    height: 0;
    overflow: hidden;
    transition: height 0.2s;
  }

  &__button {
    @include no-btn;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    text-align: left;

  }

  &__hide-list {
  }

  &__hide-item {
  }

  &__hide-link {
    display: block;
    padding: 5px 0;
  }

  &__link {
    display: block;
    padding: 10px 0;
    font-size: 20px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
  }

  &__social {
    margin: auto 0 25px;
    justify-content: center;
    @include min-w($lg) {
      display: none;
    }
  }

  &__btn {
    margin-bottom: 20px;
    width: 100%;
    @include min-w($lg) {
      display: none;
    }
  }

  &__enter-btn {
    padding-left: 35px;
    padding-right: 0;
    border: 0;

    @include min-w($lg) {
      display: none;
    }
  }
}
