.side-menu {
  margin-bottom: 30px;
  padding: 10px 30px;
  background-color: $white;
  border-radius: 15px;

  &__item {
    padding: 10px 0;
  }

  &__link {
    display: inline;
    padding: 10px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 8px;
      background-color: $orange;
      left: 0;
      width: 0;
      height: 1px;
      transition: width 0.3s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
