body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: $black;
  background-color: $whitef5;
  overflow-x: hidden;
}

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1280px;

  @include min-w($sm) {
    padding: 0 30px;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden {
  display: none !important;
}

.reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 0 0 30px;
  font-size: 27px;
  font-weight: 900;
  line-height: 1.2;
  color: $black25;

  @include min-w($lg) {
    margin-bottom: 50px;
    font-size: 32px;
  }

  @include min-w($xl) {
    font-size: 36px;
  }
}

.padding {
  padding: 80px 0;
  @include min-w($lg) {
    padding: 100px 0;
  }
}

.enter-btn {
  @include no-btn;
  display: block;
  padding: 9px 20px 9px 30px;
  border: 1px solid #ff4e79;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: $red79;
  text-align: center;
  background-image: url(../images/icons/lk.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px 24px;

}

.social {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.4);
    }

    &:active {
      transform: scale(0.6);
    }
  }
}

.ico {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
  }

  &--marker::after {
    background-image: url(../images/sprite.svg#marker);
  }

  &--people::after {
    background-image: url(../images/sprite.svg#people);
  }

  &--sun::after {
    background-image: url(../images/sprite.svg#sun);
  }

  &--sheet::after {
    background-image: url(../images/sprite.svg#sheet);
  }

  &--maple::after {
    background-image: url(../images/sprite.svg#maple);
  }

  &--snow::after {
    background-image: url(../images/sprite.svg#snow);
  }

  &--all::after {
    background-image: url(../images/sprite.svg#marker);
  }

  &--refresh::after {
    background-image: url(../images/sprite.svg#refresh);
  }

  &--arrow-r::after {
    background-image: url(../images/sprite.svg#arrow-r);
  }
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-pagination-fraction {
  font-size: 17px;
}

.grad-link {
  display: inline-block;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  background-image: linear-gradient(
    68.66deg,
    #ff6c54 1.71%,
    #ff4e79 24.05%,
    #ff4288 36.01%,
    #f2428b 46.98%,
    #cf4294 67.28%,
    #aa429e 85.91%
  );
  -webkit-background-clip: text;

  transition: background-image 0.3s;
  -webkit-text-fill-color: transparent;
  @include no-btn;

  @include min-w($lg) {
    font-size: 16px;
  }

  &:hover {
    background-image: linear-gradient(
      68.66deg,
      #aa429e 14.01%,
      #cf4294 25.06%,
      #f2428b 40.92%,
      #ff4288 55.81%,
      #ff4e79 77.43%,
      #ff6c54 93.96%
    );
  }

  &:active {
    background-image: linear-gradient(
        68.66deg,
        #912a85 1.71%,
        #b5287a 24.08%,
        #d9256f 38.28%,
        #e3246b 48.46%,
        #e62e5b 68.88%,
        #e64e35 85.04%
      ),
      linear-gradient(
        68.66deg,
        #aa429e 14.01%,
        #cf4294 25.06%,
        #f2428b 40.92%,
        #ff4288 55.81%,
        #ff4e79 77.43%,
        #ff6c54 93.96%
      );
  }
}

.logo {
  display: inline-block;

  &__img {
    width: 193px;
    height: 52px;
    object-fit: contain;
  }
}

.invalid {
  background-image: url(../images/sprite.svg#invalid);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px 24px;
  border: 1px solid $red-error;
}

.invalid-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  width: 40px;
  &:hover .invalid-hover__text {
    transform: scale(1);
  }

  &__text {
    position: absolute;
    bottom: 80%;
    left: -30px;
    padding: 8px 15px 11px;
    border-radius: 10px;
    width: 180px;
    font-size: 15px;
    line-height: 1.2;
    color: #fcefef;
    background-color: $red-error;
    box-shadow: 0 4px 10px rgba(46, 3, 41, 0.25), 0 10px 50px rgba(46, 3, 41, 0.3);
    transform: scale(0);
    transition: transform 0.1s;
  }
}

.password {
	position: relative;
  &__input {
  }

  &__control {
    @include no-btn;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 100%;
    background: url(../images/sprite.svg#eye) 0 0 no-repeat;
    background-size: 24px 24px;
    background-position: center;

    &.view {
      background-color: url(../images/sprite.svg#eye-hidden) 0 0 no-repeat;
    }
  }
}

.link {
  transition: color  0.3s;

  &:hover {
    color: $orange-hover;
  }

  &:active {
    color: $orange-active;
  }
}
