html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}



a {
  color: inherit;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;

  &:focus-visible,
  &:hover {
    // color: $blue-light;
  }

  &:active {
    color: inherit;
    transition-duration: 0.1s;
  }
}

b {
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

button:not(:disabled) {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  appearance: none;
}

address {
  font-style: normal;
}

figure {
  margin: 0;
}
