$white: #fff;
$whitef5: #f5f5ff;
$whitef2: #ebedf2;
$whiteef: #EFEDFF;

$red: #f2428b;
$red79: #ff4e79;

$blue: #42b3f2;
$orange: #ff6c54;
$purple: #aa429e;

$black: #000;
$black25: #0b1625;

$grey: #565656;
$greya4: #a4a4a4;

$subfont: "Nunito", "Montserrat", Arial, sans-serif;
