$white: #fff;
$whitef5: #f5f5ff;
$whitef2: #ebedf2;
$whiteef: #efedff;

$red: #f2428b;
$red79: #ff4e79;
$red-hover: #e5305c;
$red-active: #e5305c;
$red-error: #f90a0a;

$blue: #42b3f2;
$blueb4: #4262b4;

$orange: #ff6c54;
$orange-hover: #e64e35;
$orange-active: #d94027;

$purple: #aa429e;

$black: #000;
$black25: #0b1625;

$grey: #565656;
$greya4: #a4a4a4;
$greya8: #a0a2a8;
