.info-bar {
  margin-bottom: 35px;
  font-size: 15px;

  @include min-w($md) {
    margin-bottom: 40px;
  }

  @include min-w($xl) {
    margin-bottom: 60px;
  }

  &__top {
    margin: 0 -15px 20px;
    padding: 0 15px;
    background-color: $white;

    @include min-w($sm) {
      padding: 0 30px;
    }

    @include min-w($lg) {
      margin: 0 0 20px;
      display: flex;
      align-items: center;
      padding: 20px 30px;
      border-radius: 15px;
      font-size: 17px;
    }
  }

  &__address {
    padding: 20px 0 10px;
    border-bottom: 1px solid $whitef2;

    @include min-w($lg) {
      border-bottom: 0;
      border-right: 1px solid $whitef2;
      width: 100%;
      margin-right: 25px;
      padding: 0 30px 0 0;
    }
  }

  &__text {
    display: block;
    font-weight: 600;
  }

  &__link {
    position: relative;
    display: block;
    padding-left: 25px;

    @media (min-width: $lg) {
      padding-right: 95px;
      width: fit-content;
    }

    &::after {
      left: 0;
    }
  }

  &__orange {
    color: $orange;
    display: inline;
    margin-left: 5px;
  }

  &__season-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px;

    @include min-w($lg) {
      max-width: 230px;
      width: 100%;
      padding: 0;
    }
  }

  &__item {
    min-width: calc(50% - 10px);
  }

  &__age {
    position: relative;
    display: block;
    padding-left: 25px;

    &:after {
      left: 0;
    }
  }

  &__season {
    position: relative;
    display: block;
    padding-left: 20px;
    width: fit-content;
    height: 23px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &:after {
      left: 0;
    }

    &:hover .info-bar__season-text {
      transform: translateX(-50%) scale(1);
    }
  }

  &__season-text.hover {
    position: absolute;
    bottom: calc(100% + 4px);
    left: 50%;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 2px 10px rgba(4, 13, 39, 0.04), 0 10px 40px rgba(4, 13, 39, 0.1);
    transform: translateX(-50%) scale(0);
    transition: transform 0.2s;
  }

  &__season-row {
    display: flex;
    align-items: center;
  }

  &__bottom {
    display: flex;
    overflow: auto;
    @include noScroll;
  }

  &__type {
    display: block;
    margin-right: 10px;
    padding: 1px 8px 3px;
    border: 1px solid $grey;
    border-radius: 5px;
    color: $grey;
    transition: color 0.3s, border-color 0.3s;

    &:hover {
      border-color: $orange-hover;
      color: $orange-hover;
    }

    &:active {
      border-color: $orange-active;
      color: $orange-active;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.fancybox-slide--iframe .fancybox-content {
  width: 95vh !important;
  height: 80vh !important;
}
