.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;

  &__item:not(:last-child) {
    position: relative;

    &:hover {
      .drop-menu {
        transform: scale(1);
        transition: transform 0.1s;
      }

      .menu__btn {
        &::after {
          transform: rotate(180deg) translateY(50%);
        }
      }
    }
  }

  &__link {
    padding: 10px 0;
  }

  &__btn {
    @include no-btn;
    padding: 10px 15px 10px 0;
  }

  &__drop-radius {
    border-radius: 15px;
    overflow: hidden;
  }
}

.header {
  position: relative;
  z-index: 50;
  padding-bottom: 30px;
  background-color: $whitef5;
  color: $black25;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $grey;

    @include min-w($xl) {
      margin-bottom: 10px;
    }
  }

  &__tel {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include min-w($lg) {
      align-items: flex-end;
    }

    @include min-w($xxl) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__tel-text {
    margin-bottom: 5px;
    @include min-w($xxl) {
      margin-right: 8px;
      margin-bottom: 0;
    }
  }

  &__tel-number {
    color: $black25;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    @include min-w($xxl) {
      padding: 10px 0;
    }
  }

  &__social {
    display: none;

    @include min-w($lg) {
      display: flex;
    }

    .social__item:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__call {
    display: none;
    @include min-w($md) {
      display: block;
    }

    @include min-w($xl) {
      width: unset;
    }
  }

  &__call-text {
    background-color: $whitef5;
    padding: 7px 0;
  }

  &__enter-btn {
    display: none;
    @include min-w($lg) {
      display: block;
      width: 44px;
      height: 44px;
      background-position: right center;
      border: 0;
    }

    @include min-w($xl) {
      width: unset;
      height: unset;
      background-image: unset;
      border: 1px solid $red79;
      transition: border-color 0.3s, color 0.3s;
      padding: 9px 20px 9px 20px;

      &:hover {
        border-color: $red-hover;
        color: $red-hover;
      }

      &:active {
        border-color: $red-active;
        color: $red-active;
      }
    }
  }

  &__enter-btn-text {
    display: none;

    @include min-w($xl) {
      display: block;
    }
  }

  &__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 170px;
    height: 46px;

    @include min-w($xl) {
      width: 193px;
      height: 52px;
      margin-right: 100px;
    }
  }

  &__menu {
    display: none;

    @include min-w($xl) {
      display: flex;
      max-width: calc(100% - 310px);
      width: 100%;
    }
  }

  &__menu-btn {
  }

  &__drop-menu {
    max-height: 200px;
  }
}


