.application {
  &__inner {
    background-image: url(../images/content/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 15px;
    color: $white;
    margin: 0 -15px;
    box-shadow: 0 4px 10px rgba(46, 3, 41, 0.25), 0 10px 50px rgba(46, 3, 41, 0.3);
    @include min-w($sm) {
      margin: 0 -30px;
      padding: 40px 30px;
    }

    @include min-w($lg) {
      padding: 50px 40px;
      margin: 0;
    }

    @include min-w($xxl) {
      padding: 50px 70px;
      margin: 0;
    }
  }

  &__title {
    color: $white;
    margin-bottom: 10px;
    text-align: center;

    @include min-w($md) {
      width: fit-content;
      margin: 0 auto;
      position: relative;

      &::after {
        left: calc(100% + 5px);
        top: unset;
        transform: translateY(0);
        bottom: 0;
        width: 52px;
        height: 52px;
        background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.08548 59.6435C9.08548 59.6435 4.82769 64.6195 4.21639 65.3975C3.6051 66.1755 4.04968 68.5095 4.04968 68.5095L10.8145 61.5297C10.8145 61.5297 12.4541 58.113 9.08548 59.6435Z' fill='white'/%3E%3Cpath d='M54.7857 3.51652C53.7909 3.52329 52.8707 3.7398 52.1128 4.28116L14.5868 46.7545L21.66 57.9144L64.6722 18.7896L68.1371 14.2421C68.1371 14.2421 65.9715 6.87963 63.373 6.01345C61.4241 5.36382 57.7699 3.49622 54.7857 3.51652Z' fill='%23FF4E79'/%3E%3Cpath d='M21.6599 57.9145C21.6599 57.9145 21.4047 57.2269 21.1886 56.3624C21.0805 55.9302 20.9821 55.4538 20.9306 54.9969C20.9048 54.7685 20.8907 54.545 20.8929 54.3344C20.895 54.1238 20.9135 53.9262 20.9527 53.7494C20.992 53.5726 21.0484 53.3994 21.1172 53.2318C21.1859 53.0642 21.267 52.9021 21.3554 52.7474C21.5323 52.4379 21.7385 52.1577 21.935 51.922C22.3279 51.4504 22.6817 51.1558 22.6817 51.1558C22.6817 51.1558 22.5392 51.1459 22.3182 51.1078C22.0972 51.0697 21.7974 51.0035 21.4831 50.8905C21.3259 50.834 21.1652 50.766 21.0087 50.6838C20.8521 50.6017 20.6998 50.5057 20.5598 50.3933C20.4198 50.2809 20.2922 50.1521 20.1848 50.0049C20.0773 49.8577 19.9899 49.6919 19.931 49.5053C19.8721 49.3186 19.8611 49.1051 19.8869 48.8741C19.9127 48.643 19.9754 48.3946 20.0638 48.1386C20.1522 47.8826 20.2661 47.6189 20.3951 47.3572C20.524 47.0955 20.6677 46.8358 20.8151 46.5877C21.1098 46.0916 21.4193 45.6422 21.6551 45.3168C21.8909 44.9914 22.0529 44.7898 22.0529 44.7898C22.0529 44.7898 21.1099 45.4188 19.3809 46.519C19.1648 46.6566 18.9279 46.7632 18.6786 46.8448C18.4293 46.9265 18.1676 46.9831 17.9024 47.0199C17.6371 47.0567 17.3683 47.074 17.1043 47.077C16.8403 47.0801 16.581 47.069 16.3354 47.0494C15.8442 47.0101 15.4071 46.9364 15.0927 46.8725C14.7784 46.8086 14.5867 46.7546 14.5867 46.7546C14.5867 46.7546 13.4865 52.7275 11.2859 56.1855L9.08533 59.6437L10.8146 61.5298C10.8146 61.5298 16.0016 56.0284 18.0449 56.8143C20.0883 57.6002 21.6599 57.9145 21.6599 57.9145H21.6599Z' fill='%23FEAC7C'/%3E%3Cpath d='M22.0529 44.7897C22.0529 44.7897 57.9547 6.26867 55.2872 8.15812C52.6198 10.0476 25.385 36.7412 22.0529 44.7897Z' fill='%23CF4294'/%3E%3Cpath d='M22.6818 51.1557C22.6818 51.1557 63.7343 11.2702 63.512 10.381C63.2897 9.49187 33.9476 38.6117 31.0578 41.5015C28.1681 44.3913 22.6818 51.1557 22.6818 51.1557Z' fill='%23CF4294'/%3E%3Cpath d='M47.5786 8.52198C47.5786 8.52198 47.711 6.61561 48.267 6.69504C48.8231 6.77447 50.597 7.14516 51.5767 6.98629C52.5564 6.82743 54.0656 8.07187 54.8334 8.57494C55.6013 9.07801 58.7521 12.3612 59.5729 13.6586C60.3937 14.956 60.2878 16.5182 61.5852 17.3654C62.8825 18.2127 64.1535 19.2983 64.2064 19.5631C64.2594 19.8278 63.3856 20.4898 63.3856 20.4898C63.3856 20.4898 59.7053 17.1007 57.5871 14.9295C55.4689 12.7584 54.8334 11.4345 51.9739 10.243C49.1143 9.05153 47.5786 8.52198 47.5786 8.52198Z' fill='white'/%3E%3Cpath d='M46.4657 8.99592C46.7653 8.35936 47.0648 7.68536 48.0758 8.13469C49.0868 8.58403 49.5362 7.98491 50.8842 8.39681C52.2322 8.8087 55.5273 9.85715 55.9018 10.6435C56.2762 11.4298 57.1374 12.1413 58.5229 13.8637C59.9083 15.5862 60.3253 17.7236 62.5669 19.0685C63.3158 19.5179 64.1396 20.4914 63.6902 20.791C63.2409 21.0906 63.2035 21.9518 62.9039 22.2513C62.6044 22.5509 60.1705 23.5245 58.9722 21.2403C57.774 18.9562 57.8489 17.1589 55.0405 14.4628C52.2322 11.7668 46.4657 8.99592 46.4657 8.99592Z' fill='%23E32618'/%3E%3Cpath d='M43.5615 13.8265C43.5615 13.8265 45.6733 11.3814 46.7847 12.8818C47.8962 14.3823 55.3734 18.5193 56.7322 22.4402C57.9994 26.0972 55.0675 26.1981 55.6763 26.9972C55.6763 26.9972 57.4546 28.2753 57.6769 26.9416C57.8992 25.6079 58.8439 25.0521 59.5108 24.9966C60.1776 24.941 59.0106 24.4964 60.4555 23.6628C61.9004 22.8292 62.6626 22.8499 61.7734 21.0716C60.8843 19.2933 60.9001 21.3288 59.6219 18.828C58.3438 16.3273 57.2879 13.9377 55.3429 12.3817C53.3978 10.8256 49.1188 9.88091 47.6183 9.1029C46.1179 8.32488 45.451 7.99145 45.451 9.1029C45.451 10.2143 44.5618 10.1032 44.1728 10.4922C43.7838 10.8812 42.5612 12.4928 43.5615 13.8265V13.8265Z' fill='%23FFC517'/%3E%3Cpath d='M45.7289 10.4922C46.3957 10.6033 50.9805 13.4097 52.8699 15.7438C54.7594 18.0778 53.5368 15.6048 51.9252 13.8543C50.3136 12.1038 48.3686 11.2702 47.7017 10.9368C47.0348 10.6033 45.7289 10.4922 45.7289 10.4922Z' fill='%23FFAC17'/%3E%3Cpath d='M59.0106 23.4405C58.6216 22.2457 58.0381 21.7178 57.0933 20.0506C56.1486 18.3834 55.0649 16.9663 55.0649 17.3831C55.0649 17.7999 57.2045 21.1898 57.6491 22.079C58.0936 22.9681 59.0106 23.4405 59.0106 23.4405Z' fill='%23FFAC17'/%3E%3Cpath d='M8.10637 68.4094L8.02612 66.1691C8.02612 66.1691 9.97494 66.5199 10.8542 66.2938C11.7334 66.0677 13.2155 65.7914 15.5015 65.7663C17.7876 65.7412 23.9171 65.49 29.2678 65.3141C34.6186 65.1383 37.4824 65.0127 39.1404 64.9373C40.7984 64.8619 52.0454 64.6388 52.0454 64.6388C52.0454 64.6388 43.21 62.2996 42.5568 62.2494C41.9037 62.1991 34.5684 61.3952 33.2118 61.1943C31.8553 60.9933 28.3886 60.2397 28.2881 60.0387C28.1876 59.8377 27.4842 57.6271 30.8505 56.5218C34.2167 55.4165 35.2717 54.4619 38.3365 54.1604C41.4013 53.859 41.7529 53.7585 46.1742 53.5575C50.5955 53.3565 53.7105 53.457 55.7704 53.1053C57.8304 52.7536 60.0912 53.0551 60.1415 52.1005C60.1917 51.1459 54.8661 44.8154 53.5095 43.0067C52.153 41.198 51.7511 40.0424 52.2535 39.5903C52.7559 39.1381 55.67 37.9825 56.4236 37.0279C57.1772 36.0733 59.4381 33.1091 60.041 31.8028C60.6439 30.4965 62.4526 27.9844 62.4526 27.9844L66.3212 30.2453C66.3212 30.2453 63.4201 33.7111 62.3019 34.4656C61.1837 35.2201 57.8806 39.2888 57.1772 40.1429C56.4738 40.997 55.268 41.5999 55.8709 42.7053C56.4738 43.8106 58.6845 46.3729 59.8903 48.2319C61.0961 50.0908 63.381 53.1471 62.5994 54.355C61.8178 55.5629 61.1073 56.0958 60.681 56.2734C60.2547 56.4511 47.4652 56.5577 46.2573 56.5577C45.0494 56.5577 42.7757 56.6287 40.1112 57.055C37.4467 57.4813 33.8586 58.0853 33.3612 58.405C32.8638 58.7248 34.8533 59.009 37.8731 59.3287C40.8928 59.6484 57.6968 63.13 58.6205 63.8406C59.5442 64.5511 60.2547 64.8353 60.3257 65.6169C60.3968 66.3985 58.1231 67.2866 55.4586 67.4287C52.7941 67.5708 34.7467 67.6419 31.1586 67.5708C27.5704 67.4998 8.10637 68.4094 8.10637 68.4094Z' fill='white'/%3E%3Cpath d='M55.8849 38.9722C54.1086 40.038 53.6467 40.109 53.6467 40.6419C53.6467 41.1748 56.6309 40.4643 55.8849 38.9722Z' fill='%23A89194'/%3E%3Cpath d='M34.356 57.2327C33.5388 57.3392 32.0823 57.6235 31.4428 58.5116C30.8033 59.3998 33.1836 59.8261 33.8231 59.8261C34.4625 59.8261 37.8731 60.2169 37.5533 60.1103C37.2336 60.0037 33.2191 59.1511 32.9349 58.9024C32.6507 58.6537 33.077 57.2682 34.356 57.2327Z' fill='%23A89194'/%3E%3Cpath d='M52.0454 64.6389C54.606 64.9775 55.0679 65.2972 56.6665 65.4748C58.2652 65.6525 60.0771 66.1143 57.4837 66.0788C54.8902 66.0433 53.8955 66.1143 52.0481 66.0788C50.2007 66.0433 48.7442 66.0788 47.9626 65.9722C47.181 65.8656 52.0454 64.6389 52.0454 64.6389Z' fill='%23A89194'/%3E%3C/svg%3E ");
      }
    }

    @include min-w($xl) {
      &::after {
        width: 72px;
        height: 72px;
      }
    }
  }

  &__text {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    p {
      padding: 0;
    }

    @include min-w($xxl) {
      font-size: 24px;
    }
  }

  &__relative {
    position: relative;
  }

  &__row {
    @include min-w($lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    @include min-w($xxl) {
      width: 100%;
      max-width: 870px;
    }
  }

  &__label {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    @include min-w($lg) {
      margin-bottom: 0;
      width: calc(33.33% - 20px);
    }
  }

  &__input {
  }

  &__check-row {
    @include min-w($lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include min-w($xxl) {
      justify-content: center;
    }
  }

  &__check-label {
    display: block;
    margin-bottom: 40px;
    padding-left: 30px;
    position: relative;

    @include min-w($lg) {
      max-width: 390px;
      margin-bottom: 0;
    }

    @include min-w($xl) {
      max-width: unset;
    }
  }

  &__checkbox {
    font-size: 16px;
  }

  &__btn {
    width: 100%;

    @include min-w($lg) {
      width: unset;
    }

    @include min-w($xxl) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.input {
  display: block;
  width: 100%;
  padding: 10px 25px 11px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 0;
  font-size: 17px;
  line-height: 21px;

  &::placeholder {
    color: $greya4;
  }
}

.checkbox {
  &__fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $orange;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;

    svg {
      opacity: 0;
      stroke: $white;
      fill: none;
      width: 15px;
      height: 13px;
    }
  }

  &:checked + span {
    svg {
      opacity: 1;
    }
  }
}
