.btn {
  border-radius: 50px;
  background-color: $orange;
  padding: 8px 30px 9px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid $orange;
  color: $white;
  outline-color: transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, background-image 0.3s, outline 0.3s, opacity 0.3s;

  &:focus {
    outline-color: $black25;
  }

  &:hover {
    background-color: $orange-hover;
  }

  &:active {
    background-color: $orange-active;
  }

  @include min-w($lg) {
    padding: 8px 40px;
  }

  &--white {
    background-color: transparent;
    color: $orange;

    &:hover {
      background-color: transparent;
      border-color: $orange-hover;
      outline: 1px solid $orange-hover;
      color: $orange-hover;
    }

    &:active {
      outline: 1px solid $orange-active;
      background-color: transparent;
      color: $orange-active;
      border-color: $orange-active;
    }
  }

  &--grad {
    background-image: linear-gradient(
      68.66deg,
      #ff6c54 1.71%,
      #ff4e79 24.05%,
      #ff4288 36.01%,
      #f2428b 46.98%,
      #cf4294 67.28%,
      #aa429e 85.91%
    );
    overflow: hidden;
    position: relative;

    &::after,
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-image: linear-gradient(
        68.66deg,
        #e64e35 1.71%,
        #e62e5b 24.05%,
        #e3246b 36.01%,
        #d9256f 46.98%,
        #b5287a 67.28%,
        #912a85 85.91%
      );
      z-index: 5;
      transition: opacity 0.3s;
    }

    &::after {
      background-image: linear-gradient(
        68.66deg,
        #aa429e 1.71%,
        #cf4294 24.05%,
        #f2428b 36.01%,
        #ff4288 46.98%,
        #ff4e79 67.28%,
        #ff6c54 85.91%
      );
    }


    &:hover::after {
      opacity: 1;
      z-index: 10;
    }

    &:active::before {
      opacity: 1;
      z-index: 12;
    }

    span {
      position: relative;
      z-index: 15;
    }
  }

  &:disabled {
    opacity: 0.7;
  }
}
