.bonus {
  padding: 80px 0;

  &__title {
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    overflow: auto;

    margin: 0 -15px;

    @include min-w($sm) {
      margin: 0 -30px;
    }
  }

  &__item {
    padding: 20px;
    max-width: 340px;
    background-color: $whiteef;
    border-radius: 15px;
    margin: 0 15px;
    max-width: calc(100% - 70px);
    word-wrap: break-word;

    &--img {
      display: none;
      position: relative;
      background-color: transparent;
    }

    @include min-w($sm) {
      margin: 0 15px;
    }
  }

  &__caption {
    padding-left: 70px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
    min-height: 56px;

    &::after {
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='60' height='56' viewBox='0 0 60 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.30332 7.01117L49.8769 0.465689C51.977 0.170533 53.9054 1.62365 54.2005 3.72379L59.0412 38.167C59.3363 40.2671 57.8832 42.1955 55.7831 42.4906L9.20954 49.0361C7.1094 49.3313 5.18105 47.8782 4.8859 45.778L0.0452232 11.3348C-0.249932 9.23468 1.20318 7.30633 3.30332 7.01117Z' fill='%23FF6C54'/%3E%3Cpath d='M12.194 9.81935C10.5213 10.0544 10.185 11.2865 10.3163 12.2211C10.6428 14.5441 9.82562 15.7427 7.29703 16.098C6.06059 16.2718 5.40583 17.2556 5.58578 18.5361L8.31145 37.9302C8.49141 39.2107 9.39199 39.9759 10.6284 39.8022C13.157 39.4468 14.2729 40.3737 14.5994 42.6967C14.7307 43.6313 15.3936 44.7229 17.0664 44.4878L46.977 40.2842C48.6498 40.0491 48.9861 38.817 48.8547 37.8825C48.5282 35.5594 49.3454 34.3609 51.874 34.0055C53.1105 33.8317 53.7652 32.8479 53.5853 31.5674L50.8596 12.1733C50.6796 10.8928 49.7791 10.1276 48.5426 10.3013C46.014 10.6567 44.8981 9.7298 44.5717 7.40678C44.4403 6.47224 43.7774 5.38059 42.1047 5.61568L12.194 9.81935Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.03 13.4385L12.0909 13.8717L12.9576 13.7499L12.8967 13.3167L12.03 13.4385ZM14.1969 13.1339L14.2578 13.5672L15.1591 13.4405L15.0982 13.0073L14.1969 13.1339ZM16.3984 12.8245L16.4593 13.2578L17.326 13.136L17.2651 12.7027L16.3984 12.8245ZM18.5644 12.5201L18.6253 12.9534L19.492 12.8315L19.4311 12.3983L18.5644 12.5201ZM20.7302 12.2157L20.7911 12.649L21.6578 12.5272L21.5969 12.0939L20.7302 12.2157ZM22.8971 11.9112L22.9579 12.3444L23.8246 12.2226L23.7638 11.7894L22.8971 11.9112ZM25.063 11.6068L25.1239 12.04L25.9904 11.9183L25.9295 11.485L25.063 11.6068ZM27.2288 11.3024L27.2897 11.7356L28.1564 11.6138L28.0955 11.1806L27.2288 11.3024ZM29.3957 10.9979L29.4566 11.4311L30.3233 11.3093L30.2624 10.8761L29.3957 10.9979ZM31.5615 10.6935L31.6223 11.1267L32.489 11.0049L32.4282 10.5717L31.5615 10.6935ZM33.7275 10.3891L33.7884 10.8223L34.655 10.7005L34.5941 10.2673L33.7275 10.3891ZM35.8943 10.0846L35.9552 10.5178L36.8219 10.396L36.761 9.96276L35.8943 10.0846ZM38.0601 9.78019L38.121 10.2134L38.9877 10.0916L38.9268 9.65838L38.0601 9.78019ZM40.2261 9.47578L40.287 9.909L41.1537 9.7872L41.0928 9.35397L40.2261 9.47578ZM42.3929 9.17125L42.4538 9.60447L43.3205 9.48266L43.2597 9.04944L42.3929 9.17125Z' fill='%23EBEDF2'/%3E%3Cpath d='M21.6272 16.3644C21.5703 16.3724 21.5155 16.3915 21.466 16.4207C21.4165 16.4498 21.3732 16.4885 21.3386 16.5344C21.304 16.5803 21.2788 16.6325 21.2644 16.6882C21.25 16.7438 21.2467 16.8017 21.2548 16.8586C21.2627 16.9156 21.2819 16.9703 21.311 17.0199C21.3402 17.0694 21.3788 17.1127 21.4247 17.1473C21.4706 17.1818 21.5229 17.2071 21.5785 17.2214C21.6342 17.2358 21.6921 17.2391 21.749 17.2311L35.613 15.2826C35.6699 15.2746 35.7247 15.2555 35.7742 15.2264C35.8237 15.1972 35.867 15.1586 35.9016 15.1127C35.9362 15.0668 35.9614 15.0145 35.9758 14.9589C35.9901 14.9032 35.9934 14.8453 35.9854 14.7884C35.9774 14.7315 35.9583 14.6767 35.9291 14.6272C35.9 14.5776 35.8613 14.5343 35.8154 14.4998C35.7695 14.4652 35.7173 14.44 35.6616 14.4256C35.606 14.4112 35.5481 14.4079 35.4912 14.4159L21.6272 16.3644Z' fill='%23565656'/%3E%3Cpath d='M40.7068 17.6593C40.6499 17.6673 40.5951 17.6864 40.5456 17.7156C40.496 17.7447 40.4528 17.7834 40.4182 17.8293C40.3836 17.8752 40.3584 17.9274 40.344 17.9831C40.3296 18.0387 40.3263 18.0967 40.3343 18.1536C40.3423 18.2105 40.3614 18.2653 40.3906 18.3148C40.4198 18.3643 40.4584 18.4076 40.5043 18.4422C40.5502 18.4768 40.6025 18.502 40.6581 18.5164C40.7137 18.5307 40.7717 18.534 40.8286 18.526L44.3378 18.0328C44.3947 18.0248 44.4495 18.0057 44.499 17.9766C44.5485 17.9474 44.5918 17.9088 44.6264 17.8629C44.661 17.817 44.6862 17.7647 44.7006 17.7091C44.7149 17.6534 44.7182 17.5955 44.7102 17.5386C44.7022 17.4817 44.6831 17.4269 44.6539 17.3774C44.6248 17.3278 44.5861 17.2845 44.5402 17.25C44.4943 17.2154 44.4421 17.1902 44.3864 17.1758C44.3308 17.1614 44.2729 17.1581 44.216 17.1661L40.7068 17.6593Z' fill='%23565656'/%3E%3Cpath d='M13.3476 21.5046C13.2328 21.521 13.1292 21.5822 13.0595 21.6748C12.9898 21.7675 12.9598 21.884 12.9759 21.9988C12.992 22.1136 13.0531 22.2173 13.1456 22.2872C13.2381 22.357 13.3546 22.3873 13.4694 22.3713L37.4715 18.9981C37.5863 18.9817 37.6899 18.9205 37.7596 18.8279C37.8292 18.7352 37.8593 18.6187 37.8431 18.5039C37.827 18.3891 37.766 18.2854 37.6735 18.2155C37.581 18.1457 37.4645 18.1154 37.3497 18.1314L13.3476 21.5046Z' fill='%23565656'/%3E%3Cpath d='M19.7834 24.7976C19.6686 24.8139 19.565 24.8751 19.4953 24.9678C19.4256 25.0604 19.3956 25.1769 19.4117 25.2917C19.4278 25.4066 19.4889 25.5103 19.5814 25.5801C19.6739 25.65 19.7904 25.6803 19.9052 25.6643L44.9163 22.1492C44.9732 22.1412 45.028 22.1221 45.0775 22.093C45.127 22.0638 45.1703 22.0252 45.2049 21.9793C45.2395 21.9334 45.2647 21.8811 45.2791 21.8255C45.2935 21.7698 45.2967 21.7119 45.2887 21.655C45.2808 21.5981 45.2616 21.5433 45.2325 21.4938C45.2033 21.4442 45.1647 21.4009 45.1188 21.3664C45.0729 21.3318 45.0206 21.3066 44.965 21.2922C44.9093 21.2778 44.8514 21.2745 44.7945 21.2825L19.7834 24.7976Z' fill='%23565656'/%3E%3Cpath d='M13.926 25.6204C13.8112 25.6367 13.7076 25.6979 13.6379 25.7905C13.5682 25.8832 13.5381 25.9997 13.5543 26.1145C13.5704 26.2293 13.6314 26.333 13.724 26.4029C13.8165 26.4727 13.9329 26.503 14.0478 26.4871L16.9813 26.0748C17.0382 26.0668 17.093 26.0477 17.1425 26.0185C17.192 25.9893 17.2353 25.9507 17.2699 25.9048C17.3045 25.8589 17.3297 25.8067 17.3441 25.751C17.3584 25.6954 17.3617 25.6374 17.3537 25.5805C17.3457 25.5236 17.3266 25.4688 17.2974 25.4193C17.2683 25.3698 17.2296 25.3265 17.1837 25.2919C17.1378 25.2573 17.0856 25.2321 17.0299 25.2177C16.9743 25.2034 16.9164 25.2001 16.8595 25.2081L13.926 25.6204Z' fill='%23565656'/%3E%3Cpath d='M24.3687 35.0874L26.6323 51.1939C26.898 53.0849 28.8241 53.5514 30.279 52.0651L32.9837 49.2313L36.3647 51.2098C38.1729 52.2375 39.8957 51.2582 39.63 49.3672L37.3663 33.2607L24.3687 35.0874Z' fill='%23AA429E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.8508 40.6245L15.9117 41.0577L16.7784 40.9359L16.7175 40.5027L15.8508 40.6245ZM18.0177 40.32L18.0786 40.7532L18.9799 40.6265L18.919 40.1933L18.0177 40.32ZM20.2192 40.0106L20.2801 40.4438L21.1468 40.322L21.0859 39.8888L20.2192 40.0106ZM22.3852 39.7062L22.4461 40.1394L23.3128 40.0176L23.2519 39.5844L22.3852 39.7062ZM39.7151 37.2706L39.776 37.7038L40.6427 37.582L40.5818 37.1488L39.7151 37.2706ZM41.8809 36.9662L41.9418 37.3995L42.8085 37.2776L42.7476 36.8444L41.8809 36.9662ZM44.0469 36.6618L44.1078 37.095L44.9745 36.9732L44.9136 36.54L44.0469 36.6618ZM46.2137 36.3573L46.2746 36.7905L47.1413 36.6687L47.0804 36.2355L46.2137 36.3573Z' fill='%23EBEDF2'/%3E%3Cpath d='M38.6381 35.238C39.2181 39.3655 36.3424 43.1817 32.2149 43.7618C28.0875 44.3419 24.2713 41.4661 23.6912 37.3387C23.1111 33.2112 25.9868 29.395 30.1143 28.8149C34.2418 28.2348 38.058 31.1106 38.6381 35.238Z' fill='%23F6B93B'/%3E%3Cpath d='M33.8013 35.9175C34.0059 37.3737 32.9914 38.72 31.5352 38.9247C30.079 39.1293 28.7327 38.1148 28.528 36.6586C28.3234 35.2024 29.3379 33.8561 30.7941 33.6514C32.2503 33.4468 33.5966 34.4613 33.8013 35.9175Z' fill='%23FF6C54'/%3E%3C/svg%3E%0A");
      width: 56px;
      height: 56px;
    }
  }

  &__text {
  }

  &__img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 7px solid $whiteef;
    border-radius: 15px;
    overflow: hidden;
    transform: rotate(-3deg);
  }
}
