.video-section {
  color: $black25;
  padding-bottom: 0;

  &__container {
    padding: 0;
  }

  &__title {
    @media (min-width: $lg) {
      margin-bottom: 50px;
    }
  }

  &__inner {
    padding-bottom: 50px;
    @include min-w($lg) {
      padding-bottom: 70px;
    }
  }

  &__item {
    &.swiper-slide-active {
      position: relative;
      z-index: 50;
    }
  }

  &__slide {
    padding: 30px 15px 0;
    margin-top: -30px;

    @include min-w($xxl) {
      display: flex;
      padding: 50px 30px 60px 30px;
      margin-top: -50px;
    }
  }

  &__responsive {
    margin-bottom: 30px;
    width: 100%;
    max-width: 650px;
    position: relative;

    @include min-w($xxl) {
      margin: 0 50px 0 0;
    }
  }

  &__video-wrapper {
    position: relative;
    display: block;
    padding-top: 58.6%;
    border-radius: 30px;
    background-color: $black25;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 2px 10px rgba(4, 13, 39, 0.04), 0 10px 40px rgba(4, 13, 39, 0.1);
    overflow: hidden;
    z-index: 5;
  }

  &__fake-img {
    display: block;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(-7px, -50%);
    z-index: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 35px;
    overflow: hidden;
    height: 80%;
    transition: transform 0.2s;

    @include min-w($sm) {
      right: -30px;
      transform: translate(0, -50%);
    }

    @include min-w($xxl) {
      left: -30px;
      transform: translate(0, -50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.349);
    }
  }

  &__info {
    @include min-w($xxl) {
      padding-top: 20px;
      max-width: 490px;
    }
  }

  &__caption {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;

    @include min-w($xxl) {
      font-size: 28px;
    }
  }

  &__text {
    margin-bottom: 30px;

    @include min-w($lg) {
      font-size: 17px;
    }

    p {
      margin: 0 0 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    padding-right: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    &::after {
      right: 0;
      width: 11px;
      height: 14px;
    }
  }

  &__pagination {
    display: block;
    margin-right: 25px;
    width: fit-content;
  }

  &__nav {
    display: flex;
    @include max-w($xl) {
      margin-top: 30px;
    }
  }

  &__prev,
  &__next {
    display: block;
  }
}
